<div class="container browser-warning-message text-center">
  <a href="https://sailsjs.com/support">
    <img
      style="margin: 0px auto 15px; width: auto; height: 75px; display: block;" alt="Logo"
      src="/images/warning-icon.png">
  </a>
  <h5 class="card-title">No Internet Connection.</h5>
  <p style="margin-right: auto; margin-left: auto; max-width: 500px;">
    This app requires <strong>Internet Connection </strong> to Communicate <strong>Arrow</strong>.
  </p>
</div>
